.Question__block {
  width: 100%;
  margin: 20px 0px;
  padding: 20px;
}

.Question__block__image {
  margin-right: 40px;
}

.Question__block__image img {
  border-radius: 5px;
}

.Question__block__quest {
  width: 100%;
}

.Question__block__quest hr {
  background: #393939;
  border: 0px;
  height: 2px;
}

.Question__block__quest__title {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
}
